#forms {
    display: grid; /* グリッドレイアウト */
    grid-template-rows: 30px 30px 30px 30px 30px;
    grid-template-columns: 300px 300px 200px;
}

#FreqInfo {
    grid-row: 1/2;
    grid-column: 1/2;
}
#FreqVal {
    grid-row: 2/3;
    grid-column: 1/2;
}

#CapaInfo {
    grid-row: 4/5;
    grid-column: 1/2;
}

#CapaVal {
    grid-row: 5/6;
    grid-column: 1/2;
}
